<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.gov.hackney"
      android:installLocation="auto">

  <application android:icon="@drawable/ch_icon"
               android:label="@string/app_name"
               android:allowBackup="true"
               android:name="CycleHackneyApp">
    <activity android:name=".CycleHackney"
              android:label="@string/app_name"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".track.RecordingActivity"
              android:label="@string/app_name"
              android:launchMode="singleInstance"
              android:screenOrientation="portrait" />
    <activity android:name=".track.SaveTrip"
              android:label="@string/app_name"
              android:screenOrientation="portrait" />
    <activity android:name=".track.ShowJourney"
              android:label="Cycle Hackey : Completed Journey"
              android:screenOrientation="portrait" />

    <service android:name=".track.RecordingService"/>

    <meta-data android:name="CycleStreetsAPIKey" android:value="5463c8bd1ba5206d" />
    <meta-data android:name="CycleStreetsPhotoUpload" android:value="ByKey|AllowTextOnly|NoShare" />
  </application>
</manifest>
